body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    text-align: center;
}

#thumbnail {
    width: 300px;
    cursor: pointer;
    border-radius: 10px;
}

#video-container {
    display: none;
    margin-top: 20px;
}

.hidden {
    display: none;
}
